<div id=containerLogo>
  <%= image_tag("logo.png", id: "logo") %>
</div>

<%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
<%= devise_error_messages! %>

<div class="main">
  <div class="container">

    <div class="containerTitle">
      <p class="title">Soumettre des instructions de confirmation</p>
    </div>

    <div class="containerConnexion col-md-12">
      <div class="contentConnexion">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Soumettre des instructions de confirmation" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
        <%= render "devise/shared/links" %>
