<h2>Edit
  <%= resource_name.to_s.humanize %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

<div class="row">
  <div class="field col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">

    <div class="field">
      <%= f.email_field :email, autofocus: true %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for:
        <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off" %>
      <i>(leave blank if you don't want to change it)</i><br/>
      <% if @minimum_password_length %>
      <br/>
      <em><%= @minimum_password_length %>
        characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "off" %>
      <i>(we need your current password to confirm your changes)</i><br/>
    </div>

  </div>
</div>
<div class="actions">
  <%= f.submit "Modifier" %>
</div>
<% end %>

<h3>Supprimer mon compte</h3>

<p>Unhappy?
  <%= button_to "Supprimer", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger"  %></p>
<%= link_to "Retour", :back, :class => "btn btn-primary" %>
