<div id=containerLogo>
  <%= image_tag("logo.png", id: "logo")%>
</div>

<div class="main">
  <div class="container">

    <div class="containerTitle">
      <p class="title">Créer son compte</p>
    </div>

    <div class="containerConnexion col-md-12">

      <div class="social-buttons">
        <%= link_to raw('<span class="fa fa-linkedin"></span>Se connecter via linkedin'), user_linkedin_omniauth_authorize_path, :class => 'btn btn-block btn-social btn-linkedin' %>
      </div>

      <div id="line1"><hr></div>
      <p id="ou">
        OU
      </p>
      <div id="line2"><hr></div>

      <p id="creerCompteManuellement">
        Créer un compte manuellement
      </p>

        <div class= "contentConnexion">

          <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="row">

            <div class="form-group secondname col-md-6">
              <%= f.text_field :prenom, autofocus: true %>
            </div>

            <div class="form-group firstname col-md-6">
<<<<<<< HEAD
              <%= f.text_field :nom, autofocus: true %>
=======
              <%= f.text_field :nom %>
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
            </div>

          </div>

          <div class="form-group">
<<<<<<< HEAD
            <%= f.email_field :email, autofocus: true %>
=======
            <%= f.email_field :email %>
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
          </div>

          <div class="form-group">
            <% if @minimum_password_length %>
            (<%= @minimum_password_length %>
            Caractères minimum)
            <%= f.password_field :password, autocomplete: "off"%>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="validationButton">
            <%= f.submit "Sign up", :class => "btn btn-primary" %>
          </div>
          <% end %>
        </div>

    </div>
  </div>

          <%= render "devise/shared/links" %>
</div>
