@charset "UTF-8";
/* line 5, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
p.“notice {
  color: black;
  text-align: center;
  margin: 0;
}

/* line 11, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
p.“alert {
  color: black;
  text-align: center;
  margin: 0;
}

/* line 17, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
#home {
  background: none;
  text-align: inherit;
}

/* line 22, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.mainhome {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 27, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.navigation {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

/* line 33, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
#logo1 {
  width: 150px;
}

/* line 37, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.navbar {
  margin-bottom: 5px;
  border-radius: 0;
}

/* line 42, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.log {
  height: 30px;
  margin-top: 43px;
  margin-right: 20px;
}

/* line 48, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.log a {
  text-decoration: none;
}

/* line 52, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.buttonsignin {
  display: block;
  width: 100px;
  text-align: center;
  height: 30px;
  background-color: white;
  border: 1px solid #08446c;
  border-radius: 30px;
  line-height: 28px;
  color: #08446c;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

/* line 69, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.buttonsignin:hover {
  background-color: #08446c;
  color: white;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

/* line 79, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.content {
  width: 100%;
}

/* line 83, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.carousel-cell {
  width: 100%;
  /* full width */
}

/* line 88, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.carousel-cell img {
  width: 100%;
  /* full width */
  height: auto;
}

/* line 94, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

/* line 101, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.flickity-viewport {
  height: 414px;
}

/* line 105, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.flickity-page-dots {
  bottom: 10px;
}

/* line 108, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.section {
  width: 100%;
  height: 150px;
  padding-top: 50px;
  background-color: #08446c;
}

/* line 114, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.button a {
  text-decoration: none;
}

/* line 117, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.buttonstart {
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  height: 40px;
  background-color: white;
  border: 1px solid #08446c;
  border-radius: 50px;
  line-height: 38px;
  color: #08446c;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

/* line 135, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
.buttonstart:hover {
  background-color: #08446c;
  color: white;
  border: 2px solid white;
  height: 42px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

@media screen and (max-width: 500px) {
  /* line 147, /Users/Will/Now_Fellows/website/app/assets/stylesheets/home.scss */
  .flickity-prev-next-button {
    display: none;
  }
}
