<div class="main" id="mainProfil">

  <div class="containerTitle" id="containerTitleProfil">
    <div class="containerMarc">
      <div class="roundedImage" class="photoMarc"><%= image_tag("sangoku.jpg", id: "imageProfil") %></div>
    </div>
    <div class="containerUser">
      <div class="roundedImage" class="photoUser"><%= image_tag("vegeta.jpg", id: "imageProfil") %></div>
    </div>
  </div>

  <div class=containerProfil>
    <div class="row">
      <div class="col-md-9">
        <ul id="conversations-list">
          <% @conversations.each do |conversation| %>
            <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
          <% end %>
        </ul>
      </div>

      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">User list</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @users.each do |user| %>
                <li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    </div>

    <div class="empty">

    </div>

    <div class=onglets>
      <%= link_to chat_path do %>
        <div class=ongletChat2><%= image_tag("iconeChat2.png", id: "iconeChat") %></div>
      <% end %>
      <%= link_to profil_path do %>
        <div class=ongletProfil2><%= image_tag("iconeProfil2.png", id: "iconeProfil") %></div>
      <% end %>
    </div>

  </div>

</div>
