<<<<<<< HEAD
<div id="mainProfil">

  <div class="containerTitle" id="containerTitleProfil">
    <div class="containerPhoto" id="containerPhoto">
      <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><div class="roundedImage"><%= image_tag("vegeta.jpg", id: "imageProfil") %></div> </a>
                    <ul class="dropdown-menu">
                      <li><a href="#"><div class="logOut"><%= link_to "Log out", destroy_user_session_path, method: :delete %></div></a></li>
                    </ul>
                  </li>
    </div>
    <div class=iconEdit><%= link_to image_tag("edit.png", id: "iconEdit2"), edit_user_registration_path %></div>
  </div>

  <div class=containerProfil>
    <p class=nameProfil><%= current_user.prenom %> <%= current_user.nom %></p>

    <div class=interets>
      <div class=titleSkills><p class=titleSkills2>ℹ️ Informations</p> </div> </br>
      <p>27 ans</p>
      <p>Responsable Marketing</p>
      <p><%= current_user.email %></p>
    </div>

    <div class=skills>
      <div class=iconeSkills> <%= image_tag("etoile.png", id: "iconeSkills") %> </div>
      <div class=titleSkills><p class=titleSkills2> Compétences</p> </div> </br>
      <p>#HTML #CSS #Boxe</p>
    </div>

    <div class=love>
      <div class=iconeLove> <%= image_tag("coeur.png", id: "iconeLove") %> </div>
      <div class=titleLove><p class=titleLove2> Intérêts</p> </div> </br>
      <p>#JavaScript #Tennis #Entrepreneuriat</p>
    </div>

    <div class="empty">

    </div>

    <div class=onglets>
        <%= link_to chat_path do %>
      <div class=ongletChat><%= image_tag("iconeChat2.png", id: "iconeChat") %></div>
      <% end %>
        <div class=ongletProfil><%= image_tag("iconeProfil2.png", id: "iconeProfil") %></div>
    </div>

  </div>

=======
<div class=profil2>
  <h1>Profil</h1>
</div>

<div class=profil1>
  <h4>Email</h4>
  <%= current_user.email %>
  </br>
  <%= link_to "Edit profil", edit_user_registration_path %> </br>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
</div>

<div class=onglets>
  <div class=ongletChat><%= image_tag("iconeChat.png", id: "iconeChat") %></div>
  <div class=ongletProfil><%= image_tag("iconeProfil.png", id: "iconeProfil") %></div>
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
</div>
