<div id=containerLogo>
  <%= image_tag("logo.png", id: "logo")%>
</div>

<div class="main">
  <div class="container">

    <div class="containerTitle">
      <p class=title>Mot de passe oublié ?</p>
    </div>

    <div class="containerConnexion col-md-12">
      <div class="contentConnexion">

        <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="validationButton">
          <%= f.submit "Envoyez-moi des instructions de réinitialisation", :class => "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

        <%= render "devise/shared/links" %>
