<body id="home">
<<<<<<< HEAD
  <div class="mainhome">
    <nav class="navbar">
      <div class="navigation">
=======

    <nav class="navbar">
          <div class="mainhome">
            <div class="navigation">
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
        <div id=logohome>
          <%= image_tag("logo.png", id: "logo1")%>
        </div>
        <div class="log">

<<<<<<< HEAD
          <%= link_to "Sign in",   new_user_registration_path, :class => "buttonsignin"%>
        </div>
      </nav>

      <div class="content">
=======
          <%= link_to "Sign in", new_user_session_path, :class => "buttonsignin"%>
        </div>
          </div>
      </div>
      </nav>
      <div class="content">
        <div class="mainhome">

>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
        <div class="main-carousel" data-flickity='{ "autoPlay": 3000, "pauseAutoPlayOnHover": false, "wrapAround": true, "imagesLoaded": true}'>
          <div class="carousel-cell"><%= image_tag("img/img3.jpg")%></div>
          <div class="carousel-cell"><%= image_tag("img/img2.jpg")%></div>
          <div class="carousel-cell"><%= image_tag("img/img4.jpg")%></div>
        </div>
<<<<<<< HEAD
      </div>
=======
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
      <div class="section">

        <div class="button">
          <%= link_to "Cliquez ici pour commencer !",  quiz_show_path, :class => "buttonstart", method: :get%>
        </div>
      </div>
<<<<<<< HEAD
=======

      </div>
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
    </div>
  </body>
