<div id=containerLogo>
  <%= image_tag("logo.png", id: "logo")%>
</div>

<div class="main">

  <div class="container">

  <div class="containerTitle">
    <p class="title">Connexion</p>
  </div>

    <div class="containerConnexion col-md-12">

            <div class="social-buttons">
              <%= link_to raw('<span class="fa fa-linkedin"></span>Se connecter via linkedin'), user_linkedin_omniauth_authorize_path, :class => 'btn btn-block btn-social btn-linkedin' %>
            </div>

            <div id="line1"><hr></div>
            <p id="ou">
              OU
            </p>
            <div id="line2"><hr></div>


      <div class="contentConnexion">
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


        <div class="form-group">
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
          </div>
        <% end -%>

        <div class=validationButton>
          <%= f.submit "Log in", :class => "btn btn-primary" %>
        </div>
      <% end %>
      </div>
      </div>
</div>
    <%= render "devise/shared/links" %>
