// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.“notice {
  color: black;
  text-align: center;
  margin: 0;
}

p.“alert {
  color: black;
  text-align: center;
  margin: 0;
}

#home {
  background: none;
  text-align: inherit;
}

.mainhome {
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

#logo1 {
  width: 150px;
}

.navbar {
  margin-bottom: 5px;
  border-radius: 0;
<<<<<<< HEAD
=======
  width: 100%;
  z-index: 100;
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
}

.log {
  height: 30px;
  margin-top: 43px;
  margin-right: 20px;
}

.log a {
  text-decoration: none;
}

.buttonsignin {
  display: block;
  width: 100px;
  text-align: center;
  height: 30px;
  background-color: white;
  border: 1px solid #08446c;
  border-radius: 30px;
  line-height: 28px;
  color: #08446c;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.buttonsignin:hover {
<<<<<<< HEAD
  background-color: #08446c;
  color: white;
=======
  color: white;
    background-color: #08446c;
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.content {
  width: 100%;
}

.carousel-cell {
  width: 100%;
  /* full width */
}

.carousel-cell img {
  width: 100%;
  /* full width */
  height: auto;
}

.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.flickity-viewport {
  height: 414px;
}

.flickity-page-dots {
  bottom: 10px;
}
.section {
  width: 100%;
  height: 150px;
<<<<<<< HEAD
  padding-top: 50px;
=======
  padding-top: 55px;
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
  background-color: #08446c;
}
.button a{
  text-decoration: none;
}
.buttonstart {
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  height: 40px;
  background-color: white;
  border: 1px solid #08446c;
  border-radius: 50px;
  line-height: 38px;
  color: #08446c;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.buttonstart:hover {
  background-color: #08446c;
  color: white;
  border: 2px solid white;
  height: 42px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}
@media screen and (max-width: 500px) {
  .flickity-prev-next-button {
    display: none;
  }
}
