<<<<<<< HEAD
#quiz{
=======

/*#quiz{
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
  background-image: none;
	background-size: 1200px 800px;
	background-position: left 0px;
	color: black;
}

<<<<<<< HEAD
=======
*/
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
#page {
	background-color: none;/*url(/assets/img/game-1.jpeg)!important;*/
	width:100%;
	height:100%;
	background-size: 1200px 800px;
	background-position: left 0px;
	color: black;
	display:flex;
	flex-flow: column wrap;
	justify-content:space-around;
	align-items: center;
}

#presentation-game{
	display:flex;
	flex-flow: row wrap;
<<<<<<< HEAD
	justify-content: space-around;
=======
	justify-content: space-evenly;
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
	max-width:1000px;
}

#choice{
	width:75%;
}

.choice-answer {
	width:8%;
	height:8%;
}

.choice-answer img{
	width: 100%;
	height:100%;
}

#choice-detail {
	width:100%;
	text-align:center;
<<<<<<< HEAD
	font-size: 20px;
}

#choice-img{
	height:200px ;
}

#timer {
	width: 100%;
	height:3rem;
	position:absolute;
	bottom: 0;
}

#timer-progress{
	height:3rem;
=======
}

#choice-img{
	height: 3rem;
}
#left-choice{
  width: 50px;
  height: 50px;
}
#timer {
	width: 100%;
}

#timer-progress{
	height:1rem;
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
	width:100%;
	background-color: lightgreen;
	position:absolute;
	right:0;
}

#timer-txt{
	position:absolute;
<<<<<<< HEAD
  font-size: 2rem;
=======
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
	top:-2rem;
}

#timer-container{
	width:100%;
	height:1rem;
	overflow: hidden;
}
<<<<<<< HEAD
=======

.validation{
	display: flex;
	flex-direction: row;
}

.croix{
	width: 50%;
	height: 100px;
	background-color: white;
}

.validate{
	width: 50%;
	height: 100px;
	background-color: white;

}
>>>>>>> f13b3e67d9c19a397d892a6fe0e273b65f5a43a7
